.inputBlock {
    width: 100%;
    text-align: center;
}

.input {
    width: 90%;
    margin: 10px;
    outline: none;
    border: 2px solid rgba(179, 179, 179, 0.42);
    background: #2a2a2a;
    height: 45px;
    border-radius: 30px;
    box-shadow: none!important;
    padding-left: 25px;
    color: #fff;
}

.textarea {
    margin: 10px;
    width: 90%;
    outline: none;
    height: 150px;
    border: 2px solid rgba(179, 179, 179, 0.42);
}
