.mainBlock {
    min-height: 100vh;
    background: #343a40;
}

.mainContainer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    margin: 50px 0;
}
.photo img {
    width: 400px;
    height: 420px;
}
.text {
    width: 50%;
}
.text h3 {
    font-size: 1.2rem;
    font-weight: 400;
    text-transform: capitalize;
    letter-spacing: 8px;
    color: #fff;
}
.text h2 {
    font-size: 58px;
    font-weight: 700;
    line-height: 1.2em;
    text-transform: capitalize;
    color: #fff;
    margin-bottom: 30px;
    margin-top: 20px;
    background: url(/src/common/img/font-logos/fire.jpg) no-repeat;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.info {
    background-color: #444444;
}
