.mainBlock {
    height: 100vh;
    background-color: #ffebf6;
}



.text {
    width: 300px;
    background-color: #d2d2d2;
}

.photo {
    width: 300px;
    height: 400px;
    background-color: #d2d2d2;
}