$bg-img: url('../common/img/font-logos/fire.jpg');
$bg-my: url('../common/img/my.jpg');
@import "src/common/styles/scss/variable";
.mainBlock {
  min-height: 100vh;
  background: $bg-color-primary;

  .mainContainer {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    margin: 50px 0 100px 0;
    @media screen and (max-width: 940px) {
      & {
        justify-content: center;
        margin: 20px 0;
      }
    }

    .photo {
      width: 300px;
      height: 400px;
      background-image: $bg-my;
      background-size: cover;
      background-position: center;
      border: 10px solid $border-color;
      background-clip: padding-box;
      opacity: 0.8;
    }

    .text {
      width: 60%;
      color: #fff;
      display: flex;
      flex-direction: column;
      align-items: end;
      text-align: end;
      margin-top: 20px;
      @media screen and (max-width: 940px) {
        & {
          width: 100%;
          align-items: center;
          text-align: center;
        }
      }

      & h3 {
        font-size: 1.2rem;
        font-weight: 400;
        letter-spacing: 8px;
      }

      & h2 {
        font-size: 58px;
        font-weight: 700;
        line-height: 1.2em;
        margin: 20px 0 30px 0;
        background: $bg-img no-repeat;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
      }

      .info {
        width: 100%;
        padding: 10px;
        background-color: $border-color;
        text-align: justify;
        opacity: 0.8;
      }
    }
  }

  //@media screen and (max-width: 1050px) {
  //  & {
  //    min-height: 100vh;
  //  }
  //}
}







